.opciones {
	margin-left: 38%;
	margin-top: 5%;
}

.btn {
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

  .btn:hover{
    color: #1883ba;
    background-color: #ffffff;
  }


  /* 

Text-decoration se refiere a la decoración del texto, deberemos establecerlo en none a no ser que queramos tener el texto del botón subrayado.

Padding es la distancia entre el texto y el borde del botón. En este caso está establecido en pixeles.

Font-wheight se trata del grosor de las letras. Mientras más alto sea su número, más gruesas serán.

Font-size es el tamaño se la letra, en este caso, también en pixeles.

Color se refiere al color de la letra. Podremos personalizarlo fácilmente con un código HEX, RGB  o incluso RGBA.

Background-color es el color de fondo del botón.

Border-radius se trata del redondeado de los cantos de botón. Mientras más pixeles asignemos, más redondeados serán los bordes. Si, lo que queremos es un botón sin bordes redondeados, lo eliminaremos.

Border es del borde del botón. Podremos asignar un grosor en pixeles y un color.








   */