/*
necesitamos conseguir imágenes con fondo transparente
para que no se solapen los colores con el fondo.
*/

/* -------------animation style-------------*/
    
@keyframes lanzarBolazo {
    0% {
        width: 0;
        height: 0;
        right: 28%;
    }
    25% {
        width: 100px;
        height: 150px;
        right: 28%;
        
    }
    100%{
        width: 100px;
        height: 150px;
        right: 100%;
    }
}
@keyframes gokuMovimiento {
    0% {
         visibility: visible;
    }
    18% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    80%{
        visibility: visible;
        right: 25%;
    }
    100% {
        visibility: visible;
        left: 75%;
    }
}

#db-bg {
    background-image: url(../img/tatami.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.saiyans {
    
    width: 15%;
    
}

#goku {
    position: fixed;
    top: 200px;
    left: 25%;
    animation: gokuMovimiento 4s;
}
#vegeta {
    position: fixed;
    top: 200px;
    right: 25%;
    /*
    bottom: ;
    right: ;
    */
}
#bolazo{
    position: absolute;
    top: 290px;
    right: 35%;
    width: 100px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(#ffee26,#ffffff);
    animation: lanzarBolazo 6s;
}



