body{
    width: 100%;
    background-color: black;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}

.eclipse{
    /*background-image: url(../img/universo.png);*/
    
    height: 800px;
    text-align: center;
    float: left;
    width: 80%;
    position: relative;
}
.earth{
    float: left;
    width: 35%;
    position: absolute;
}
.moon{
    float: left;
    position: absolute;
    width: 15%;
}
.centrar{
    text-align: center;
}
.cabecera{
    color: white;
}