body {
  font-size:1.0em; 
}
.wrapper{
    width:  960px;
    margin: 0 auto;
    
}
  .veinte, .cuarenta, .ochenta {
      font-size: 1.25em;
  }
  .letra-pequenia {
      font-size: 0.9em;
  }
            
@media only screen and (max-width:800px) {
  /* For tablets: */
  body{
    font-size:120%; 
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  body {
    font-size:140%;
  }
}

.linea{
    width: 100%;
    float: left;
    background-color: grey;
    
}
.veinte{
    width: 16%;
    float: left;
    background-color: green;
    
    margin: 2%;
}
.cuarenta{
    width: 26%;
    float: left;
    background-color: green;
    
    margin: 2%;
}
.ochenta{
    width: 66%;
    float: left;
    background-color: hotpink;
    
    margin: 2%;
}

@media only screen and (max-width: 900px) {
  /* For tablets: */
  .cuarenta{
        width: 30%;
      background-color: firebrick;
    }
    .ochenta{
        width: 100%;
        
    }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
    .veinte{
        font-size: 1.5em;
    }
    .cuarenta{
        width: 100%;
        font-size: 1.5em;
    }
}