
div.button {
	border-radius: 2px;
	background-color: darkred;
	width: 30%;
	margin-left: 35%;
	color: white;
	padding: 20px 5%;
}

.enabledButton {
	background-color: hotpink;
	border: 15px solid border-bottom-width: 10px;
}